body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.team-section {
    margin-bottom: 20px;
}

.team-section h2 {
    margin-bottom: 10px;
}

#results {
    margin-top: 20px;
}

.small-input {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.champion-result {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.champion-result img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

label {
    text-align: center;
    display: block;
}

.form-group {
    text-align: center;
}

section {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.container {
    margin-bottom: 50px;
}

.game {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.game img {
    background-color: #584a4a;
    padding: 5px;
}

.teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para remover fundo cinza das imagens do game results */
.game-results img {
    background-color: transparent;
    border: none;
}

/* Estilo para exibir os detalhes do evento quando ativo */
.event-details.active {
    display: block;
}

.game-results {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.champion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    text-align: center;
}

.champions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.game-details-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.game-result {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    text-align: center;
}

.team-container:last-child {
    margin-right: 0;
}

.team-info {
    margin-bottom: 10px;
}

.game-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.team-info {
    margin-right: 20px;
}

.btn-group button {
    min-width: 150px;
}

.team-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Diminuição do tamanho das imagens e ajustes nos contêineres */
.champion-container-horizontal {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 120px; /* Ajuste a largura conforme necessário */
}

.champion-container-horizontal img {
    width: 30px; /* Redução do tamanho da imagem */
    height: 30px;
    display: block;
    margin: 0 auto;
}

.champion-info {
    font-size: 0.7em; /* Redução do tamanho do texto */
}

.game.unstarted {
    background-color: #f9f9f9;
}

.game.inProgress {
    background-color: #aee6f3;
}

.game.completed {
    background-color: #d4edda;
}

.game:hover {
    background-color: #f1f1f1;
}

.teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.game-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.btn-group {
    margin-top: 10px;
}

.winrate {
    margin-top: 20px;
}

/* Estilos para as seções */
.section {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

/* Estilos específicos para cada status */
.section.inProgress {
    border-left: 10px solid #17a2b8;
}

.section.unstarted {
    border-left: 10px solid #ffc107;
}

.section.completed {
    border-left: 10px solid #28a745;
}

.event-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

.event-details.active {
    display: block;
}

/* styles.css */

/* Estilos para a tabela de resultados */
.results-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
}

.results-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.results-table th, .results-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.results-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.results-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.results-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.team-details {
    margin-top: 20px;
    font-size: 1.2em;
}

.highlight {
    color: #983d00;
    font-weight: bold;
}


/* styles.css */

/* Estilos para a tabela de resultados */
.results-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
}

.results-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.results-table th, .results-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.results-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.results-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.results-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.champion-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

/* .team-details {
    margin-top: 20px;
    font-size: 1.2em;
} */


.team-section {
    margin-bottom: 30px;
}
