body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.team-section {
    margin-bottom: 20px;
}

.team-section h2 {
    margin-bottom: 10px;
}

#results {
    margin-top: 20px;
}

.small-input {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.champion-result {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.champion-result img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

label {
    text-align: center;
    display: block;
}

.form-group {
    text-align: center;
}

.highlight {
    color: red; /* Alterar para a cor desejada */
    font-weight: bold;
}

section {
    border: 2px solid #ccc; /* Adiciona borda a cada seção */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento entre seções */
}

.container {
    margin-bottom: 50px; /* Espaçamento do final da página */
}

.game {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.game img {
    background-color: #584a4a; /* Cor de fundo especificada para as imagens dos logos */
    padding: 5px; /* Espaçamento interno ao redor das imagens dos logos */
}

.teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para remover fundo cinza das imagens do game results */
.game-results img {
    background-color: transparent;
    border: none;
}

/* Estilo para ocultar os detalhes do evento por padrão */
.event-details {
    display: none;
}

/* Estilo para exibir os detalhes do evento quando ativo */
.event-details.active {
    display: block;
}

/* styles.css */

.game-results {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.champion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    text-align: center;
}

.champions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.highlight {
    color: #ffcc00;
    font-weight: bold;
}

.game-details-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.game-result {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    text-align: center;
}

.team-container:last-child {
    margin-right: 0;
}

.team-info {
    margin-bottom: 10px;
}

.game-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.team-info {
    margin-right: 20px;
}

.btn-group button {
    min-width: 150px;
}

.team-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.champion-container-horizontal {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.champion-container-horizontal img {
    display: block;
    margin: 0 auto;
}

/* Adicione ao final de styles.css */

.game.unstarted {
    background-color: #f9f9f9;
}

.game.inProgress {
    background-color: #aee6f3;
}

.game.completed {
    background-color: #d4edda;
}

/* Adicione ao final de styles.css */

.btn-group {
    margin-top: 10px; /* Ajuste o valor conforme necessário */
}

.winrate{
    margin-top: 20px;
}